main {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 85%;
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.avtorization-form input {
    text-align: center;
    width: 250px;
    padding: 10px;
    /* margin-bottom: 10px; */
    border: 1px solid #ccc;
    border-radius: 3px;
}

.avtorization-form {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    background-color: #fff;
    /* padding: 20px; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.avtorization-form button{
    width: 100%;
    padding: 10px;
    background-color: #333;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}