#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner {
    margin: auto 0;

    display: flex;
    justify-content: center;
    position: absolute;
    width: 9px;
    height: 9px;
}

.spinner div {
    position: absolute;
    width: 50%;
    height: 150%;
    background: #000000;
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
    --delay: 0.1;
    --rotation: 36;
    --translation: 150;
}

.spinner div:nth-child(2) {
    --delay: 0.2;
    --rotation: 72;
    --translation: 150;
}

.spinner div:nth-child(3) {
    --delay: 0.3;
    --rotation: 108;
    --translation: 150;
}

.spinner div:nth-child(4) {
    --delay: 0.4;
    --rotation: 144;
    --translation: 150;
}

.spinner div:nth-child(5) {
    --delay: 0.5;
    --rotation: 180;
    --translation: 150;
}

.spinner div:nth-child(6) {
    --delay: 0.6;
    --rotation: 216;
    --translation: 150;
}

.spinner div:nth-child(7) {
    --delay: 0.7;
    --rotation: 252;
    --translation: 150;
}

.spinner div:nth-child(8) {
    --delay: 0.8;
    --rotation: 288;
    --translation: 150;
}

.spinner div:nth-child(9) {
    --delay: 0.9;
    --rotation: 324;
    --translation: 150;
}

.spinner div:nth-child(10) {
    --delay: 1;
    --rotation: 360;
    --translation: 150;
}

@keyframes spinner-fzua35 {

    0%,
    10%,
    20%,
    30%,
    50%,
    60%,
    70%,
    80%,
    90%,
    100% {
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }

    50% {
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
}



* {
    margin: 0;
    padding: 0;
    max-width: 2000px;
    /* font-family: 'Verdana', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;

}

html {
    scroll-behavior: smooth;
}

/* html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
} */

button {
    cursor: pointer;
}

header {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

#header {
    height: 40px;
    width: 100%;
}

.header {

    /* width: 50%; */
    padding: 5px 10px;
    display: block;
    float: left;
    /* background-color: blue; */
}

.header img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

#search {
    float: right;
}

#search img {
    width: 28px;
    height: 28px;
}

.header button,
.header input {
    vertical-align: middle;
    height: 28px;
    border: 1px solid rgb(103, 101, 101);
    border-radius: 14px;
    padding: 5px;
}

.header input {
    width: 200px;
}


nav {
    height: 35px;
    background-color: #333;
    padding: 6px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #575757;
    transform: scale(1.1);
}

main {
    width: 90%;
    margin: 0 auto;
    /* margin-left: 12%;
    margin-right: 12%; */
}

footer {
    background-color: rgb(235, 235, 235);
}

footer table {
    padding: 10px 5px 5px 10px;
    width: 100%;
}

footer table td {
    width: 50%;
    vertical-align: top;
}

.right {
    text-align: right;
}


/* @media(min-width:800px) and (max-width:1199px){
h2{
    font-size: 16px;
}
.text{
    font-size: 15px;
}
}

@media(min-width:500px) and (max-width:799px){
   
    .text{
        font-size: 11px;
    }
}


@media(min-width:1200px){
  
    .text{
        font-size: 32px;
        flex-direction: column;
        flex: auto;
    }
} */

@media(max-width:550px) {
    main {
        width: 100%;
    }

    footer table td {
        font-size: 13px;
    }

    footer img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width:470px) {
    nav {
        height: 30px;
    }

    nav a {
        font-size: 11px;
        padding: 10px;
    }

    nav ul li {
        margin: 0;
    }

    #header img {
        width: 29px;
        height: 29px;
    }

    .header input {
        width: 130px;
        font-size: 11px;
    }

    .header button {
        font-size: 11px;
        text-align: center;
    }
}