* {
    margin: 0;
    padding: 0;
    max-width: 2000px;
    /* font-family: 'Verdana', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;

}
button{
    cursor: pointer;
}

header {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

#header {
    height: 40px;
    width: 100%;
}

.header {

    /* width: 50%; */
    padding: 5px 10px;
    display: block;
    float: left;
    /* background-color: blue; */
}

.header img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

#search {
    float: right;
}

.header button,
.header input {
    vertical-align: middle;
    height: 28px;
}

nav {
    height: 35px;
    background-color: #333;
    padding: 6px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #575757;
    transform: scale(1.1);
}

/* main{
    width: 86%;
    margin-left: 12%;
    margin-right: 12%;
} */
 footer{
    background-color: rgb(235, 235, 235);
 }
footer table {
    padding: 10px 5px 5px 10px;
    width: 100%;
}

footer table td {
    width: 50%;
    vertical-align: top;
}

.right {
    text-align: right;
}