#sale {
    width: 100%;
    margin-top: 1%;
}


h2 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0;
    letter-spacing: 3px;
    background-color: rgb(251, 241, 241);
    /* font-family: 'Verdana', sans-serif;
    font-size: 34px;
    color: #ff3e1c;
    background-color: #f0f0f0; */
    /* font-family: 'Verdana', sans-serif; */
    font-size: 34px;
    color: #ed300e;
    overflow: hidden;
    /* border-right: 1px solid black; */
    white-space: nowrap;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}

.image {
    width: 40%;
    text-align: center;
    padding: 20px 5px 10px 5px;
}

.image img {
    width: 80%;
    height: 80%;
}

.text {
    /* width: 60%; */
    padding: 0 7px 0 10px;
    text-align: left;
    font-size: 20px;
    line-height: 35px;
}