main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 300px;
    padding: 20px;
}

.input__fields {
    width: inherit;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.registration-form,
.avtorization-form {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    background-color: #fff;
    /* padding: 20px; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}


.button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.radio-inputs {
    margin: 10px 35px;
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    border-radius: 0.2rem;
    background-color: #33333314;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: auto;
    font-size: 14px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    border: none;
    padding: .5rem 0;
    /* color: rgba(51, 65, 85, 1); */
    color: #595959  ;
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #fff;
  }

